* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

@mixin flexCenter() {
  display: flex;
  align-items: center;
  justify-content: center;
}

// color library
$Pink: hsl(322, 100%, 66%);
$Very-Pale-Cyan: hsl(193, 100%, 96%);
$Very-Dark-Cyan: hsl(192, 100%, 9%);
$Grayish-Blue: hsl(208, 11%, 55%);

header {
  
  background: url(images/bg-hero-mobile.svg) no-repeat;
  background-size: cover;
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 10vh;
    .logo-img {
      width: 6em;
      // height: 1em;
      margin-left: 5%;
    }
    .btn-in-nav {
      padding: 0.45em 1.75em;
      margin-right: 5%;

      background: white;
      color: black;
      box-shadow: pink;

      border: none;
      border-radius: 5rem;

      font-size: clamp(0.75rem, 1%, 1rem);
      box-shadow: 0 0.15rem 0.5rem rgb(255, 213, 220);
    }
  }
  .header-content {
    @include flexCenter();
    margin-top: 3em;
    .header-inner {
      @include flexCenter();
      flex-direction: column;
      margin: 1rem 2rem;
      .header-heading {
        text-align: center;
        font-weight: bold;
        font-size: clamp(1.5rem, 10%, 30rem);
      }
      .header-para {
        text-align: center;
        margin: 1rem 0;
        font-size: clamp(1rem, 5%, 15rem);
      }
      .btn-under-header-para {
        font-weight: bold;
        padding: 0.8em 4em;
        margin: 0.5em 0;
        background: $Pink;
        color: white;
        border: none;
        border-radius: 5rem;
        font-size: clamp(0.75rem, 1%, 1rem);
        box-shadow: 0 0.25rem 0.5rem pink;
      }
      img {
        width: 100%;
        margin-top: 1.5rem;
      }
    }
  }
}
